<h1>New User</h1>

<%= if @changeset.action do %>
    <div class= "alert alert-danger">
        <p>Opps, something went wrong!</p>
    </div>
<% end %>

<%= form_for @changeset, Routes.user_path(@conn, :create), fn f-> %>
    <div>
        <%= text_input f, :userphrase, placeholder: "User Phrase"%>
        <%= error_tag f, :userphrase %>
    </div>
    <div>
        <%= text_input f, :password, placeholder: "Pass Phrase"%>
        <%= error_tag f, :password %>
    </div>
    <%= submit "Create User" %>
<% end %>