<h1> Login </h1>

<%= form_for @conn, Routes.session_path(@conn, :create), [as: :session], fn f-> %> <!-- WE are asking to submit the information inside a field called "session" -->
<!--  Not using a changeset because this data is data that doesn't go to the database-->
    <div>
        <%= text_input f, :userphrase, placeholder: "User Phrase" %>
    </div>
    <div>
        <%= password_input f, :passphrase, placeholder: "Pass Phrase" %>
    </div>

    <%= submit "Log in"%>
<% end %>